#valve,
#pump,
#fan,
#slider {
    height: 35px;
    border: none;
}

#fs,
#fp {
    margin-left: 20px;
    display: flex;
    float: right;
    width: 50%;
    height: 200px;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px;
    border-radius: 10px;
    background-color: white;
}

#fv,
#ff {
    display: flex;
    float: left;
    width: 50%;
    height: 200px;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px;
    border-radius: 10px;
    background-color: white;
}

#fv,
#fp {
    margin-bottom: 20px;
}

.samplebtn {
    border: none;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    height: 5px;
    font-size: 1.25rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(189, 189, 189);
}
.samplebtn a:hover {
    background-color: rgb(199, 199, 199);
}

.midbtn {
    border: none;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    // width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: #eeeeee;
    display: flex;
    justify-items: center;
    box-shadow: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-bottom: 5px;
}


#main {
    transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav 
    (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 90vh;
    }
}
.btn-round {
    border-radius: 30px;
}
.bg-indigo {
    background: indigo;
}
.text-cyan {
    color: #35bdff;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

@media (max-width: 767px) {
    .timeline2 .event1:after {
        left: -21.8px;
    }
}

.modal-backdrop {
    display: none;
}

.stopbtnvision:hover mat-icon{
    color: indianred;
   }
   
.start, .stop {
    width:100%;
    font-size: 18px;
    background-color:#343378;
    border-radius:4px;
    border:1px solid white;
    color:white;
    height: 30px;
    margin: 2px;
}

.start:active, .stop:active {
    box-shadow: #23206f 0 1px 4px inset;
    transform: translateY(2px);
}