.notif-q22-mil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 60px;
    width: 46.5%;
    margin: 5px;
}

.notif-q22-num-mil {
    font-size: 40px;
    font-weight: 600;
    font-family: Lato, sans-serif;
    margin: 10px;
}

.notif-q22-text-mil {
    color: rgb(94, 94, 94);
    font-size: 14px;
    font-family: Lato, sans-serif;
    text-overflow: ellipsis;
}

body {
    background-color: #ffffff;
}

.fa_refresh :hover {
    cursor: pointer;
}
.fa_cross :hover {
    cursor: pointer;
}

#main {
    transition: margin-left 0.5s;
}

.btn-round {
    border-radius: 30px;
}
.bg-indigo {
    background: indigo;
}
.text-cyan {
    color: #35bdff;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.swal-but {
    margin-left: auto;
    background-color: #3085d6;
    color: whitesmoke;
    font-weight: 500;
}
.swal-cross {
    color: red;
    font-weight: bolder;
}

.swal-cross:focus {
    outline: none;
}

.stopbtnvision:hover mat-icon{
    color: indianred;
   }
   
.start, .stop {
    width:100%;
    font-size: 18px;
    background-color:#343378;
    border-radius:4px;
    border:1px solid white;
    color:white;
    height: 30px;
    margin: 2px;
}

.start:active, .stop:active {
    box-shadow: #23206f 0 1px 4px inset;
    transform: translateY(2px);
}