<div style="height: 100%">
  <div
    class="d-flex"
    style="
      background-color: #ffffff;
      padding: 5px;
      align-items: center;
      display: flex;
    "
  >
    <button
      (click)="goback()"
      title="Click to go back"
      style="
        border-color: transparent;
        background-color: transparent;
        color: #0f0c3d;
      "
    >
      <mat-icon style="font-size: 30px">keyboard_arrow_left</mat-icon>
    </button>

    <!--Use Case Name-->
    <div style="font-size: 21px; margin-left: 20px">
      <b>Demand - Supply Scheduler</b>
    </div>
  </div>
  <div style="height: 100%">
    <iframe
      #iframeElement
      style="width: 100%; border: none"
      frameBorder="0"
      src="https://apps.powerapps.com/play/e/d6754913-89f5-e971-a712-5cf677f1c1d9/a/a287a0f1-564d-4bfd-9cdc-a4e9902efc98?tenantId=3c8ea0e4-127c-4a02-ac65-58830e4ac608&hint=61cd1591-438a-43b4-ba1a-f6f14b47716a&sourcetime=1695288563157&hidenavbar=true"
    ></iframe>
  </div>
</div>
