.timeline1 :hover {
    cursor: pointer;
}
.fa_cross :hover {
    cursor: pointer;
}
#popsch_disp {
    cursor: pointer;
}



/* Style page content - use this if you want to push the page content to the right when you open the side 
    navigation */
#main {
    transition: margin-left 0.5s;
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 90vh;
    }
}
.btn-round {
    border-radius: 30px;
}
.bg-indigo {
    background: indigo;
}
.text-cyan {
    color: #35bdff;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
@media (min-width: 768px) {
    .h-md-100 {
        height: 90vh;
    }
}
.btn-round {
    border-radius: 30px;
}
.bg-indigo {
    background: indigo;
}
.text-cyan {
    color: #35bdff;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
.timeline1 {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    position: relative;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    list-style: none;
    width: 93%;
    height: fit-content;
}
.timeline1 p {
    margin: 2px;
}

@media (max-width: 767px) {
    .timeline1 {
        width: 95%;
        padding: 25px;
    }
}

.timeline1 .event1 {
    border-bottom: 1px dashed #e8ebf1;
    position: relative;
    margin-left: -20px;
}

.timeline1 .event1 .card {
    width: 120%;
    height: auto;
    margin-left: -10%;
    height: 55px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: #19296f;
}

@media (max-width: 767px) {
    .timeline1 .event1 {
        padding-top: 0px;
        margin-left: -10px;
    }
    .timeline1 .event1 .card {
        width: 100%;
        margin-left: 0%;
    }
}

.timeline1 .event1:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline1 .event1:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline1 .event1:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -35.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 20px;
}

@media (max-width: 767px) {
    .timeline1 .event1:after {
        left: -21.8px;
    }
}

.modal-backdrop {
    display: none;
}


.stopbtnpiston:hover mat-icon{
    color: indianred;
   }
   
.start, .stop {
width:100%;
font-size: 18px;
background-color:#343378;
border-radius:4px;
border:1px solid white;
color:white;
height: 30px;
margin: 2px;
}

.start:active, .stop:active {
    box-shadow: #23206f 0 1px 4px inset;
    transform: translateY(2px);
}