


<div style="height: 70%; width: 100%; display:flex; justify-content: space-evenly; align-items: center; align-content: center;">
  <div style="width: 25%; height: 50%; text-align: center;">
    <button class="button-41" style="pointer-events: none;">
      <mat-icon style="font-size: 30px;">email</mat-icon>
      Please drop a Email to <br><b style="color: #62479B; font-size: 20px;">admin@tcs.com</b>
    </button>
  </div>

  <div style="width: 25%; height: 50%; text-align: center;">
    <button class="button-41" style="pointer-events: none;">
      <mat-icon style="font-size: 30px;">phone</mat-icon>
      Reach us on Mobile <br><b style="color: #62479B; font-size: 20px;">+91 xxxxx xxxxx <br> <i>India</i></b>
    </button>
  </div>

</div>


