<div
  id="main"
  style="display: flex; flex-direction: column; align-items: center"
>
  <div
    style="width: 100%; display: flex; flex-direction: row; align-items: center"
  >
    <!-- Back Button -->
    <div class="stopbtnvision">
      <button
        (click)="goback()"
        title="Click to go back"
        style="
          border-color: transparent;
          background-color: transparent;
          color: #0f0c3d;
        "
      >
        <mat-icon style="font-size: 30px">keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <div
      class="col-11 col-md-11 col-sm-11 col-lg-11 col-xl-11 col-xxl-11"
      style="
        font-size: 21px;
        color: black;
        margin-top: 1%;
        text-align: center;
        font-family: Roboto, Helvetica Neue, sans-serif;
      "
    >
      <b
        ><img
          src=".\assets\solution\vision.png"
          height="40"
          style="padding-right: 20px"
        />
        Computer Vision Use Cases</b
      >
    </div>
    <!-- <div class="col-1 col-md-1 col-sm-1 col-lg-1 col-xl-1 col-xxl-1"
            style="display: flex; justify-content: flex-end;">
            <button class='stopbtn' (click)="goback()" title="Click to go back"
                style="font-size: 18px; background-color:#0f0c3d; border-radius:4px; color:white;">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div> -->
  </div>

  <div
    style="
      width: 98%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
    "
  >
    <ng-container *ngFor="let item of usecases; let i = index">
      <div *ngIf="item.Enabled == 'Y'">
        <div class="cardsol">
          <a
            class="row"
            routerLink="/{{ item.UsecaseUrl }}"
            style="text-decoration: none"
          >
            <button
              class="button-33"
              role="button"
              style="background-color: #fcfcfd"
            >
              <div class="imgdiv" style="background-color: #fcfcfd">
                <div class="tear">
                  <img
                    src="{{ item.ImagePath }}"
                    height="50px"
                    width="50px"
                    style="
                      padding: 10px;
                      transform: rotate(-225deg);
                      border-radius: 50%;
                      background-color: white;
                    "
                  />
                </div>
              </div>
              <div class="ucnamediv" style="background-color: #fcfcfd">
                {{ item.UsecaseName }}
              </div>
            </button>
          </a>
        </div>
      </div>

      <div *ngIf="item.Enabled == 'N'">
        <div class="cardsol">
          <a
            class="row"
            routerLink="/{{ item.UsecaseUrl }}"
            style="pointer-events: none"
          >
            <button class="button-33" role="button" style="opacity: 0.45">
              <div class="imgdiv">
                <div class="tear">
                  <img
                    src="{{ item.ImagePath }}"
                    height="50px"
                    width="50px"
                    style="
                      padding: 10px;
                      transform: rotate(-225deg);
                      border-radius: 50%;
                      background-color: white;
                    "
                  />
                </div>
              </div>
              <div class="ucnamediv">{{ item.UsecaseName }}</div>
            </button>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
